frontend/n8n-workflow-casetodo-rag-pdf-chat.json
{
  "name": "Casetodo — RAG chat + captacion datos + avisos equipo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casetodo-rag-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-rag-001",
      "name": "Webhook RAG",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body;\nconst payload = body && typeof body === 'object' && !Array.isArray(body) ? { ...body } : { ...item };\nreturn [{ json: payload }];"
      },
      "id": "code-normalize-rag-001",
      "name": "Normalizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c-chat",
                    "leftValue": "={{ String($json.phase || '').toLowerCase() }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro"
        }
      },
      "id": "switch-phase-rag-001",
      "name": "Switch phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const TEXTO_KB_PDF = `\n=== CASETODO CARLOS RUIZ — GUÍA RÁPIDA (INTERNO) ===\n\nQué es un casetón: módulo prefabricado para obra (oficina, vestuario, bodega temporal).\nServicios: VENTA de casetones y ALQUILER por periodos (día / semana / mes según disponibilidad y zona).\nNo alquilamos maquinaria ni andamios.\nMedidas frecuentes: 2x2 m, 2x3 m, 3x6 m.\nCotización formal: nombre, WhatsApp, ciudad de la obra, medidas, fecha estimada y si es alquiler o compra.\nPrecios y disponibilidad se confirman por asesor comercial.\n`.trim();\nconst rawChunks = TEXTO_KB_PDF.split(/\\n{2,}/).map((s) => s.trim()).filter(Boolean);\nconst chunks = rawChunks.length ? rawChunks : [TEXTO_KB_PDF];\nconst j = $input.first().json;\nreturn [{ json: { ...j, _kbChunks: chunks, _kbVersion: 'demo-pdf-v2' } }];"
      },
      "id": "code-kb-pdf-text-001",
      "name": "KB desde texto (PDF simulado)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst chunks = Array.isArray(j._kbChunks) ? j._kbChunks : [];\nconst mensaje = String(j.mensaje || '').trim();\nconst conv = Array.isArray(j.conversation) ? j.conversation : [];\nconst userTexts = conv.filter((c) => String(c.role || '').toLowerCase() === 'user').map((c) => String(c.text || '').trim()).filter(Boolean);\nconst allText = [...userTexts, mensaje].filter(Boolean).join('\\n');\n\nfunction pickWa(t){\n  const s = String(t || '');\n  const m = s.match(/\\b3\\d{9}\\b/) || s.match(/\\+?\\s*57\\s*3\\d{9}/) || s.match(/whatsapp\\s*[:\\s-]*(\\+?\\d[\\d\\s-]{9,14})/i);\n  if(!m) return '';\n  const d = (m[0] || '').replace(/\\D/g, '');\n  return d.length >= 10 ? d.slice(-10) : '';\n}\nfunction pickEmail(t){ const m = String(t || '').match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/); return m ? m[0].trim() : ''; }\nfunction pickNombre(t){\n  const s = String(t || '');\n  let m = s.match(/me llamo\\s+([^\\n,.!]+)/i); if (m) return m[1].trim().split(/[\\s,]/)[0].slice(0,50);\n  m = s.match(/mi nombre es\\s+([^\\n,.!]+)/i); if (m) return m[1].trim().split(/[\\s,]/)[0].slice(0,50);\n  m = s.match(/^soy\\s+([^\\n,.!\\d]+)/im); if (m) return m[1].trim().split(/[\\s,]/)[0].slice(0,50);\n  return '';\n}\n\nconst whatsapp = pickWa(allText);\nconst email = pickEmail(allText);\nconst nombre = pickNombre(allText);\nconst sinNombre = !nombre;\nconst sinWa = !whatsapp;\nconst soloSaludo = mensaje.length < 28 && /^(hola|buen[oa]s?(\\s+d[ií]as|\\s+tardes|\\s+noches)?|hey|qu[eé]\\s*tal)[\\s!.¡¿?]*$/i.test(mensaje);\nconst detalleOk = allText.replace(/\\b3\\d{9}\\b/g, '').replace(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g, '').trim().length >= 35;\n\nfunction scoreChunk(text, query){\n  const q = String(query || '').toLowerCase(); if(!q) return 0;\n  const words = q.split(/[^a-záéíóúñ0-9]+/i).filter((w)=>w.length>2);\n  const t = String(text || '').toLowerCase();\n  let s=0; for(const w of words){ if(t.includes(w)) s+=2; }\n  if(/caseton|casetón|obra|alquiler|venta|precio|medida|cotiz/.test(t)) s+=1;\n  return s;\n}\n\nconst ranked = chunks.map((c)=>({c, s:scoreChunk(c,mensaje)})).sort((a,b)=>b.s-a.s);\nconst picked = ranked.filter((x)=>x.s>0).length ? ranked.filter((x)=>x.s>0).slice(0,5).map((x)=>x.c) : ranked.slice(0,3).map((x)=>x.c);\nconst contexto = picked.join('\\n\\n—\\n\\n');\n\nlet reply = '';\nlet shouldNotify = false;\nif (soloSaludo && sinNombre && sinWa) {\n  reply = 'Hola. Soy el asistente de Casetodo Carlos Ruiz (venta y alquiler de casetones). Para ayudarte, compartime por favor: 1) tu nombre, 2) WhatsApp, 3) breve descripción de la cotización (medidas, ciudad, alquiler o compra y fecha).';\n} else if (sinNombre || sinWa) {\n  reply = (sinNombre ? 'Para continuar decime tu nombre. ' : '') + (sinWa ? 'También tu WhatsApp (ej. 300...). ' : '') + 'Luego contame medidas, ciudad y fecha aproximada para cotizar.';\n} else if (!detalleOk) {\n  reply = 'Perfecto, ya tengo tus datos básicos. Ahora describime la cotización: medidas o tipo de casetón, ciudad de obra, cantidad y fecha estimada.';\n} else {\n  shouldNotify = true;\n  reply = (contexto ? ('Según nuestra guía interna:\\n\\n' + contexto.slice(0,1800) + '\\n\\n') : '') + 'Gracias. Ya tengo nombre, WhatsApp y detalle de cotización; voy a enviar tu solicitud al equipo comercial para seguimiento.';\n}\n\nreturn [{ json: { ...j, reply, citas: picked.map((c)=>c.slice(0,160)), modo:'orquestador_v1', shouldNotify, nombreLead: nombre || 'Cliente web', telefonoLead: whatsapp ? ('+57'+whatsapp) : '—', emailLead: email || '', detalleCotizacion: allText || mensaje } }];"
      },
      "id": "code-orchestrator-001",
      "name": "Orquestador conversacion + lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1090, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "notify-true",
              "leftValue": "={{ $json.shouldNotify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-notify-001",
      "name": "IF notificar equipo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst summary = [\n  'NUEVA SOLICITUD RAG (casetones)',\n  `Asociado: ${j.associateSlug || 'casetodo-carlos-ruiz'}`,\n  `Nombre: ${j.nombreLead || '—'}`,\n  `WhatsApp: ${j.telefonoLead || '—'}`,\n  `Email: ${j.emailLead || '—'}`,\n  '',\n  '--- Detalle del cliente ---',\n  String(j.detalleCotizacion || j.mensaje || '—'),\n  '',\n  '--- Respuesta asistente ---',\n  String(j.reply || '—')\n].join('\\n');\nreturn [{ json: { ...j, _teamSummary: summary } }];"
      },
      "id": "code-prepare-notify-001",
      "name": "Preparar envio equipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 120]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "comercial@casetodocarlosruiz.com",
        "subject": "={{ 'Nueva solicitud RAG — Casetodo (' + ($json.nombreLead || 'sin nombre') + ')' }}",
        "emailType": "text",
        "message": "={{ $json._teamSummary }}",
        "options": {
          "senderName": "Casetodo Carlos Ruiz (RAG web)"
        }
      },
      "id": "gmail-asociado-rag-001",
      "name": "Gmail asociado RAG",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 120],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "REEMPLAZA_CHAT_ID_TELEGRAM",
        "text": "={{ 'Casetodo RAG — Nueva solicitud\\n\\nCliente: ' + ($json.nombreLead || '—') + '\\nWhatsApp: ' + ($json.telefonoLead || '—') + '\\n\\n' + String($json._teamSummary || '').slice(0, 3800) }}",
        "additionalFields": {}
      },
      "id": "telegram-aviso-rag-001",
      "name": "Telegram aviso RAG",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1980, 120],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "em-not-empty",
              "leftValue": "={{ $json.emailLead }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "em-has-at",
              "leftValue": "={{ $json.emailLead }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-email-rag-001",
      "name": "IF email cliente RAG",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, 120]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.emailLead }}",
        "subject": "Recibimos tu solicitud de cotización — Casetodo",
        "emailType": "text",
        "message": "={{ 'Hola ' + ($json.nombreLead || '') + ',\\n\\nRecibimos tu solicitud y un asesor te contactará.\\n\\nResumen:\\n' + ($json.detalleCotizacion || '') + '\\n\\n---\\nCasetodo Carlos Ruiz' }}",
        "options": {
          "senderName": "Casetodo Carlos Ruiz"
        }
      },
      "id": "gmail-cliente-rag-001",
      "name": "Gmail confirmacion cliente RAG",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2420, 40],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply, citas: $json.citas || [], modo: $json.modo || 'orquestador_v1', shouldNotify: !!$json.shouldNotify } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-chat-001",
      "name": "Responder chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'phase_invalida', hint: 'Usa phase=chat con campo mensaje', reply: '' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-phase-error-001",
      "name": "Responder error phase",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 520]
    }
  ],
  "connections": {
    "Webhook RAG": {
      "main": [
        [
          {
            "node": "Normalizar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar JSON": {
      "main": [
        [
          {
            "node": "Switch phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch phase": {
      "main": [
        [
          {
            "node": "KB desde texto (PDF simulado)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB desde texto (PDF simulado)": {
      "main": [
        [
          {
            "node": "Orquestador conversacion + lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orquestador conversacion + lead": {
      "main": [
        [
          {
            "node": "IF notificar equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF notificar equipo": {
      "main": [
        [
          {
            "node": "Preparar envio equipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar envio equipo": {
      "main": [
        [
          {
            "node": "Gmail asociado RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail asociado RAG": {
      "main": [
        [
          {
            "node": "Telegram aviso RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram aviso RAG": {
      "main": [
        [
          {
            "node": "IF email cliente RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF email cliente RAG": {
      "main": [
        [
          {
            "node": "Gmail confirmacion cliente RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail confirmacion cliente RAG": {
      "main": [
        [
          {
            "node": "Responder chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "RAG con interacción básica (saludo, nombre, WhatsApp, detalle), y notificación por Gmail/Telegram cuando el lead está completo."
  }
}
