frontend/n8n-workflow-casetodo-lead-modal-con-notificaciones.json
{
  "name": "Casetodo — Modal (structure + submit + Gmail/Telegram)",
  "nodes": [
    {
      "parameters": {
        "content": "## Producción — Gmail + Telegram\n\n**Importar cuando tengas credenciales.** Revisa nodos Gmail y Telegram.\n\n- **Gmail → asociado:** `sendTo`\n- **Telegram:** `chatId` (no dejes placeholder)\n\nCredenciales: Gmail OAuth2 · Telegram bot",
        "height": 420,
        "width": 400
      },
      "id": "note-main-001",
      "name": "📋 Instrucciones producción",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "content": "## 🔐 Credenciales\n1. Abre cada nodo → Credential.\n2. Guarda y prueba manual.\n\nSin credenciales válidas n8n puede **bloquear activar** el workflow.",
        "height": 280,
        "width": 300
      },
      "id": "note-auth-001",
      "name": "🔐 Nota credenciales",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1180, 720]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casetodo-lead-modal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [380, 420],
      "webhookId": "c7e4b2a0-9f1d-4c8e-b3a6-2d5f8e1c0b7a"
    },
    {
      "parameters": {
        "jsCode": "// Unifica cuerpo: n8n a veces entrega el JSON en .body y otras en la raíz.\nconst item = $input.first().json;\nconst body = item.body;\nconst payload =\n  body !== undefined && body !== null && typeof body === 'object' && !Array.isArray(body)\n    ? { ...body }\n    : { ...item };\nreturn [{ json: payload }];"
      },
      "id": "code-normalize-001",
      "name": "Normalizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 420]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-structure",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "structure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "structure"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-submit",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "submit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro"
        }
      },
      "id": "switch-phase-001",
      "name": "Switch por phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "jsCode": "// Borrador estructurado SIN API externa (sustituir por OpenAI si quieres IA real).\nconst j = $input.first().json;\nconst msg = String(j.mensaje || '').trim();\nconst intent = String(j.intent || '');\nconst nombre = String(j.nombre || '');\nconst lines = [\n  '--- Solicitud (borrador) ---',\n  `Tipo: ${intent || '—'}`,\n  `Cliente: ${nombre || '—'}`,\n  `Teléfono: ${String(j.telefono || '—')}`,\n  '',\n  'Detalle ordenado:',\n  ''\n];\nif (!msg) {\n  lines.push('(El cliente no escribió detalle en el mensaje.)');\n} else {\n  const chunks = msg\n    .split(/[.\\n;]+/)\n    .map((s) => s.trim())\n    .filter(Boolean);\n  chunks.forEach((c, i) => lines.push(`${i + 1}. ${c}`));\n}\nlines.push('', '--- Fin borrador ---');\nreturn [{ json: { ...j, structuredMensaje: lines.join('\\n') } }];"
      },
      "id": "code-structure-001",
      "name": "Estructura borrador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { structuredMensaje: $json.structuredMensaje } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-structure-001",
      "name": "Responder structure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 260]
    },
    {
      "parameters": {
        "jsCode": "// Datos finales confirmados por el cliente.\nconst j = $input.first().json;\nconst summary = [\n  'NUEVA SOLICITUD (confirmada)',\n  `Asociado: ${j.associateSlug || '—'}`,\n  `Intent: ${j.intent || '—'}`,\n  `Nombre: ${j.nombre || '—'}`,\n  `Tel: ${j.telefono || '—'}`,\n  `Email: ${j.email || '—'}`,\n  `Origen mensaje: ${j.mensajeSource || '—'}`,\n  '',\n  '--- Texto organizado ---',\n  String(j.structuredMensaje || '—'),\n  '',\n  '--- Mensaje original ---',\n  String(j.mensajeOriginal || '—')\n].join('\\n');\nreturn [{ json: { ...j, _teamSummary: summary, _receivedAt: new Date().toISOString() } }];"
      },
      "id": "code-submit-001",
      "name": "Preparar envío equipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 520]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "comercial@casetodocarlosruiz.com",
        "subject": "={{ 'Nueva solicitud web — Casetodo (' + ($json.nombre || 'sin nombre') + ')' }}",
        "emailType": "text",
        "message": "={{ $json._teamSummary }}",
        "options": {
          "senderName": "Casetodo Carlos Ruiz (web)"
        }
      },
      "id": "gmail-asociado-001",
      "name": "Gmail → asociado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1280, 520],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "REEMPLAZA_CHAT_ID_TELEGRAM",
        "text": "={{ 'Casetodo — Nueva solicitud web\\n\\nCliente: ' + ($json.nombre || '—') + '\\nTel: ' + ($json.telefono || '—') + '\\n\\n' + String($json._teamSummary || '').slice(0, 3800) }}",
        "additionalFields": {}
      },
      "id": "telegram-aviso-001",
      "name": "Telegram aviso equipo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1480, 520],
      "credentials": {
        "telegramApi": {
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "em-not-empty",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "em-has-at",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-email-cliente-001",
      "name": "IF email cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1680, 520]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "Confirmación — recibimos tu solicitud (Casetodo Carlos Ruiz)",
        "emailType": "text",
        "message": "={{ 'Hola ' + ($json.nombre || '') + ',\\n\\nGracias por contactarnos. Hemos recibido tu solicitud y nuestro equipo la revisará pronto.\\n\\nResumen enviado:\\n' + ($json.structuredMensaje || $json.mensajeOriginal || '') + '\\n\\n---\\nCasetodo Carlos Ruiz' }}",
        "options": {
          "senderName": "Casetodo Carlos Ruiz"
        }
      },
      "id": "gmail-cliente-001",
      "name": "Gmail confirmación cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1880, 420],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, received: true, message: 'Listo. Hemos recibido tu solicitud; el equipo te contactará.' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-submit-001",
      "name": "Responder submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2120, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: \"phase_desconocida\", structuredMensaje: \"\", hint: \"Usa phase structure o submit\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-fallback-001",
      "name": "Responder error phase",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 720]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar JSON": {
      "main": [
        [
          {
            "node": "Switch por phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por phase": {
      "main": [
        [
          {
            "node": "Estructura borrador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar envío equipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura borrador": {
      "main": [
        [
          {
            "node": "Responder structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar envío equipo": {
      "main": [
        [
          {
            "node": "Gmail → asociado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail → asociado": {
      "main": [
        [
          {
            "node": "Telegram aviso equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram aviso equipo": {
      "main": [
        [
          {
            "node": "IF email cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF email cliente": {
      "main": [
        [
          {
            "node": "Gmail confirmación cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail confirmación cliente": {
      "main": [
        [
          {
            "node": "Responder submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
