frontend/n8n-workflow-casetodo-lead-modal-gemini.json
{
  "name": "Casetodo — Modal + Gemini (structure) prueba",
  "nodes": [
    {
      "parameters": {
        "content": "## Gemini — misma lógica que la prueba sin IA\n\n**Webhook path:** `casetodo-lead-modal-gemini` (distinto al flujo sin Gemini para poder tener ambos importados).\n\n**Credencial:** en n8n crea *Google Gemini(PaLM) Api* con tu API key de [Google AI Studio](https://aistudio.google.com/apikey) y asígnala al nodo **Google Gemini**.\n\n**Front / .env:** la URL del webhook de producción debe apuntar a **este** workflow si quieres probar Gemini (sustituye la URL en `N8N_WEBHOOK_URL`).\n\n**Modelo:** `models/gemini-2.0-flash` (ajústalo en el nodo si tu instancia lista otros IDs).\n\nSubmit sigue siendo mock (sin Gmail/Telegram).",
        "height": 520,
        "width": 440
      },
      "id": "note-gemini-001",
      "name": "📋 Instrucciones Gemini",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casetodo-lead-modal-gemini",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-gemini-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [380, 420],
      "webhookId": "d8f3c1e2-4a5b-6c7d-8e9f-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "jsCode": "// Unifica cuerpo: n8n a veces entrega el JSON en .body y otras en la raíz.\nconst item = $input.first().json;\nconst body = item.body;\nconst payload =\n  body !== undefined && body !== null && typeof body === 'object' && !Array.isArray(body)\n    ? { ...body }\n    : { ...item };\nreturn [{ json: payload }];"
      },
      "id": "code-norm-g-001",
      "name": "Normalizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 420]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-structure",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "structure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "structure"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-submit",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "submit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro"
        }
      },
      "id": "switch-g-001",
      "name": "Switch por phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst msg = String(j.mensaje || '').trim();\nconst intent = String(j.intent || '');\nconst nombre = String(j.nombre || '');\nconst tel = String(j.telefono || '');\nconst email = String(j.email || '');\nconst prompt =\n  'Eres asistente de Casetodo Carlos Ruiz (venta y alquiler de casetones). ' +\n  'Devuelve SOLO texto plano en español, sin markdown ni JSON.\\n\\n' +\n  'Tarea: ordena y clarifica el requerimiento para el equipo comercial. ' +\n  'Usa secciones breves (puedes usar líneas que empiecen con guión o títulos en una sola línea). ' +\n  'Incluye: tipo de solicitud, datos de contacto, detalle del pedido (cantidades, ciudad, fechas, tipo de casetón si aplica). ' +\n  'Al final, si falta información, añade una línea \"Pendiente:\" con lo que falte.\\n\\n' +\n  'Datos del formulario web:\\n' +\n  '- Tipo (intent): ' + (intent || '—') + '\\n' +\n  '- Nombre: ' + (nombre || '—') + '\\n' +\n  '- Teléfono: ' + (tel || '—') + '\\n' +\n  '- Correo: ' + (email || '—') + '\\n\\n' +\n  'Mensaje del cliente:\\n' +\n  (msg || '(El cliente no escribió detalle.)') + '\\n\\n' +\n  'Redacta la versión ordenada para el equipo.';\nreturn [{ json: { ...j, _geminiPrompt: prompt } }];"
      },
      "id": "code-prompt-g-001",
      "name": "Preparar prompt Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 260]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json._geminiPrompt }}",
              "role": "user"
            }
          ]
        },
        "simplify": true,
        "jsonOutput": false,
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.35
        }
      },
      "id": "node-gemini-001",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1280, 260],
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orig = $('Preparar prompt Gemini').first().json;\nconst gem = $input.first().json;\nlet text = '';\nconst parts = gem.content && gem.content.parts;\nif (Array.isArray(parts)) {\n  text = parts\n    .map((p) => (p && typeof p.text === 'string' ? p.text : ''))\n    .join('')\n    .trim();\n}\nif (!text && typeof gem.mergedResponse === 'string') {\n  text = gem.mergedResponse.trim();\n}\nif (!text && gem.candidates && gem.candidates[0] && gem.candidates[0].content) {\n  const p2 = gem.candidates[0].content.parts;\n  if (Array.isArray(p2)) {\n    text = p2\n      .map((p) => (p && typeof p.text === 'string' ? p.text : ''))\n      .join('')\n      .trim();\n  }\n}\nreturn [\n  {\n    json: {\n      ...orig,\n      structuredMensaje: text || '(No hubo texto en la respuesta de Gemini.)'\n    }\n  }\n];"
      },
      "id": "code-merge-g-001",
      "name": "Fusionar respuesta Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { structuredMensaje: $json.structuredMensaje } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-structure-g-001",
      "name": "Responder structure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 260]
    },
    {
      "parameters": {
        "jsCode": "// Datos finales + texto de ejemplo para el front (no envía correos).\nconst j = $input.first().json;\nconst nombre = String(j.nombre || 'Cliente').trim();\nconst email = String(j.email || '').trim();\nconst hasEmail = email.length > 0 && email.includes('@');\nconst fragment = String(j.structuredMensaje || j.mensajeOriginal || '')\n  .trim()\n  .slice(0, 280);\nconst clientMessage = hasEmail\n  ? `[Prueba] Recibimos tu solicitud. En producción enviaríamos un correo de confirmación a ${email}.`\n  : '[Prueba] Recibimos tu solicitud. Sin correo no habría email de confirmación al cliente.';\nreturn [\n  {\n    json: {\n      ...j,\n      _testClientMessage: clientMessage,\n      _testPreview: {\n        nombre: nombre || '—',\n        email: hasEmail ? email : null,\n        resumenCorto: fragment || '(sin texto)'\n      }\n    }\n  }\n];"
      },
      "id": "code-submit-mock-g-001",
      "name": "Prueba — respuesta mock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, received: true, message: $json._testClientMessage, preview: $json._testPreview } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-submit-g-001",
      "name": "Responder submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: \"phase_desconocida\", structuredMensaje: \"\", hint: \"Usa phase structure o submit\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-fallback-g-001",
      "name": "Responder error phase",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 720]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar JSON": {
      "main": [
        [
          {
            "node": "Switch por phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por phase": {
      "main": [
        [
          {
            "node": "Preparar prompt Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prueba — respuesta mock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt Gemini": {
      "main": [
        [
          {
            "node": "Google Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "main": [
        [
          {
            "node": "Fusionar respuesta Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionar respuesta Gemini": {
      "main": [
        [
          {
            "node": "Responder structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba — respuesta mock": {
      "main": [
        [
          {
            "node": "Responder submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
