frontend/n8n-workflow-casetodo-lead-modal.json
{
  "name": "Casetodo — Modal PRUEBA (sin credenciales)",
  "nodes": [
    {
      "parameters": {
        "content": "## Modo PRUEBA\n\nSin **Gmail** ni **Telegram**: n8n permite **activar** el workflow sin OAuth.\n\n**Submit** devuelve JSON con `message` y `preview` (nombre, email, resumen) para ver en el modal.\n\n**Producción:** importa `n8n-workflow-casetodo-lead-modal-con-notificaciones.json` y configura credenciales.",
        "height": 380,
        "width": 420
      },
      "id": "note-test-001",
      "name": "📋 Modo prueba",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-120, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "casetodo-lead-modal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [380, 420],
      "webhookId": "c7e4b2a0-9f1d-4c8e-b3a6-2d5f8e1c0b7a"
    },
    {
      "parameters": {
        "jsCode": "// Unifica cuerpo: n8n a veces entrega el JSON en .body y otras en la raíz.\nconst item = $input.first().json;\nconst body = item.body;\nconst payload =\n  body !== undefined && body !== null && typeof body === 'object' && !Array.isArray(body)\n    ? { ...body }\n    : { ...item };\nreturn [{ json: payload }];"
      },
      "id": "code-normalize-001",
      "name": "Normalizar JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 420]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-structure",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "structure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "structure"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-submit",
                    "leftValue": "={{ $json.phase }}",
                    "rightValue": "submit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "submit"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro"
        }
      },
      "id": "switch-phase-001",
      "name": "Switch por phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "jsCode": "// Borrador estructurado SIN API externa (sustituir por OpenAI si quieres IA real).\nconst j = $input.first().json;\nconst msg = String(j.mensaje || '').trim();\nconst intent = String(j.intent || '');\nconst nombre = String(j.nombre || '');\nconst lines = [\n  '--- Solicitud (borrador) ---',\n  `Tipo: ${intent || '—'}`,\n  `Cliente: ${nombre || '—'}`,\n  `Teléfono: ${String(j.telefono || '—')}`,\n  '',\n  'Detalle ordenado:',\n  ''\n];\nif (!msg) {\n  lines.push('(El cliente no escribió detalle en el mensaje.)');\n} else {\n  const chunks = msg\n    .split(/[.\\n;]+/)\n    .map((s) => s.trim())\n    .filter(Boolean);\n  chunks.forEach((c, i) => lines.push(`${i + 1}. ${c}`));\n}\nlines.push('', '--- Fin borrador ---');\nreturn [{ json: { ...j, structuredMensaje: lines.join('\\n') } }];"
      },
      "id": "code-structure-001",
      "name": "Estructura borrador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { structuredMensaje: $json.structuredMensaje } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-structure-001",
      "name": "Responder structure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 260]
    },
    {
      "parameters": {
        "jsCode": "// Datos finales + texto de ejemplo para el front (no envía correos).\nconst j = $input.first().json;\nconst nombre = String(j.nombre || 'Cliente').trim();\nconst email = String(j.email || '').trim();\nconst hasEmail = email.length > 0 && email.includes('@');\nconst fragment = String(j.structuredMensaje || j.mensajeOriginal || '')\n  .trim()\n  .slice(0, 280);\nconst clientMessage = hasEmail\n  ? `[Prueba] Recibimos tu solicitud. En producción enviaríamos un correo de confirmación a ${email}.`\n  : '[Prueba] Recibimos tu solicitud. Sin correo no habría email de confirmación al cliente.';\nreturn [\n  {\n    json: {\n      ...j,\n      _testClientMessage: clientMessage,\n      _testPreview: {\n        nombre: nombre || '—',\n        email: hasEmail ? email : null,\n        resumenCorto: fragment || '(sin texto)'\n      }\n    }\n  }\n];"
      },
      "id": "code-submit-mock-001",
      "name": "Prueba — respuesta mock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, received: true, message: $json._testClientMessage, preview: $json._testPreview } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-submit-001",
      "name": "Responder submit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: \"phase_desconocida\", structuredMensaje: \"\", hint: \"Usa phase structure o submit\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-fallback-001",
      "name": "Responder error phase",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 720]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalizar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar JSON": {
      "main": [
        [
          {
            "node": "Switch por phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por phase": {
      "main": [
        [
          {
            "node": "Estructura borrador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prueba — respuesta mock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder error phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura borrador": {
      "main": [
        [
          {
            "node": "Responder structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba — respuesta mock": {
      "main": [
        [
          {
            "node": "Responder submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
